Section: web
Priority: optional
Maintainer: Sonarr <contact@nzbdrone.com>
Source: nzbdrone
Homepage: https://gamearr.game
Vcs-Git: git@github.com:gamearr/Gamearr.git
Vcs-Browser: https://github.com/gamearr/Gamearr

Package: nzbdrone
Architecture: all
Depends: libmono-cil-dev (>= 3.2), sqlite3 (>= 3.7), mediainfo (>= 0.7.52)
Description: Gamearr is a game collection manager
